@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html, body{
	font-size: 16px;
	font-family: 'Atkinson Hyperlegible', 'Helvetica', 'Arial', sans-serif;
	color: rgb(0,0,204);
	background-color: floralwhite;
	min-width: 100vw;
	display: grid;
	grid-template-columns: 360px 1fr;
	gap: 12px;
}

.header{
	display: block;
	grid-column: 1;
	margin: 24px 36px 12px;
	opacity: 80%;

}

.subtitle{
	grid-column: 1;
	font-size:  1.25rem;
	font-style: normal;
	font-weight: 400;
	margin: 6px 0px 8px;
	opacity: 80%;
	position: fixed;

}

.content{
	grid-column: 1;
	display: block;
	margin: 24px 36px 24px;
	color: rgb(0,0,204);
	font-size: .9rem;
	font-weight: 400;
	line-height: 24px;
	opacity: 64%;
}

.display{
	grid-column: 2;
	grid-row: 2;
	display: block;
	margin: 36px 36px 0px;
}

.responsive{
	width: 54%;
 	max-width: 640px;
 	min-width: 360px;
	height: auto;
}

.return{
	grid-column: 1;
	position: fixed;
	bottom: 12px;
	margin: 0px 36px 0px;
}

a:link, a:visited{
	display: inline-flex;
	text-decoration: none;
	color: rgb(0,0,204);
	font-size: .88rem;
	font-weight: 400;
	opacity: 72%;
	transition: .5s;
}

a:hover, a:active{
	display: inline-flex;
	text-decoration: none;
	color: cornflowerblue;
	font-size: .88rem;
	font-weight: 400;
	opacity: 72%;
}

.text{
	position: fixed;
	margin: 12px 0 0;
}

span.tag{
	font-size: .64rem;
	
}

.caption{
	font-size: .64rem;
	line-height: .8rem;
	margin: 0;
	opacity: 72%;
}