@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html, body{
	font-size: 14px;
	font-family: 'Ovo', serif;
	color: rgb(21,21,21);
}

.mo {
	display: none;
}

.content{
	display: grid;
	grid-template: repeat(40,20px) / repeat(80,20px);
}

@media (max-width : 412px) {
	.mo {
		display: grid;
		grid-template: repeat(40,20px) / repeat(80,20px);
	}
	.desk{
		display: none;
	}
}

.header{
	font-size: 3rem;
	display: grid;
	grid-template: repeat(10,3rem) / repeat(40,120px);
}

.source{
	width: 34%;
	grid-column: 5/span 18;
	grid-row: 3;
}

.title{
	letter-spacing: 6px;
	grid-column: 3/span 4;
	grid-row: 8;
}

.subtitle{
	grid-column: 3/span 4;
	grid-row: 10;
	line-height: 120%;
}

.text{
	font-size: 2rem;
	grid-column: 19/span 12;
	grid-row: 10;
	line-height: 130%;
}
