@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html, body{
	font-size: 16px;
	font-family: 'Atkinson Hyperlegible', 'Helvetica', 'Arial', sans-serif;
	color: floralwhite;
	background-color: rgb(0,0,204);
	display: grid;
	grid-template-columns: repeat(2,640px);
	gap: 12px;
}

.header{
	display: block;
	grid-column: 1;
	margin: 24px 36px 12px;
}

.title{
	grid-column: 1;
	font-size: 2rem;
	font-style: italic;
	font-weight: 400;
	font-kerning: auto;
	margin: 0px 0px 6px;
	opacity: 80%;
}

.subtitle{
	grid-column: 1;
	font-size:  1.25rem;
	font-style: normal;
	font-weight: 400;
	margin: 0px 0px 8px;
	opacity: 80%;
}

.table{
	grid-column: 1;
	display: block;
	margin: 12px 84px 24px;
}

.content{
	grid-column: 1;
	display: block;
	margin: 24px 48px 24px;
	color: floralwhite;
	font-size: .9rem;
	font-weight: 400;
	line-height: 24px;
	opacity: 64%
}

a:link, a:visited{
	width: 60%;
	line-height: 32px;
	text-decoration: none;
	color: floralwhite;
	font-size: 1rem;
	font-weight: 400;
	opacity: 64%;
	transition: .5s;
}

a:hover, a:active{
	cursor: pointer;
	color: cornflowerblue;
	opacity: 96%;
}

.display{
	grid-column: 2;
	display: block;
}

.slides{
	position: fixed;
	top: 108px;
	font-size: .64rem;
	line-height: .8rem;
	opacity: 36%;
}

.super{
	font-size: .42rem;
}

.contact{
	grid-column: 1;
	display: inline-flex;
	position: fixed;
	bottom: 0;
	font-size: .88rem;
	font-weight: 400;
	margin: 0px 36px 0px;
	opacity: 72%;
}

.message{
	font-family: 'Times New Roman',serif;
	font-style: italic;
}
