@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html, body{
	font-size: 16px;
	font-family: 'Atkinson Hyperlegible', 'Helvetica', 'Arial', sans-serif;
	color: rgb(0,0,204);
	background-color: floralwhite;
	display: block;
}

.content{
	margin: 48px 96px 48px;
}


.header{
	margin: 18px 20px 10px;
}

.title{
	font-size: 2.2rem;
	font-style: italic;
	font-weight: 400;
	font-kerning: auto;
	margin: 8px 20px 8px;
}

.subtitle{
	font-size:  1.25rem;
	font-style: normal;
	font-weight: 400;
	margin: 8px 20px 8px;
}

.text{
	font-size: 1rem;
	font-weight: 400;
}

.contact{
	display: inline-flex;
	font-size: .84rem;
	font-weight: 400;
	margin: 144px 20px 8px;
}

.email{
	font-family: 'Times New Roman',serif;
	font-style: italic;
}
